{% extends "base.html" %}

{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<div class="profil">
    <div class="panel top">
        {% load status_bar %}
        {% show_status_bar %}
    </div>

    <div class="panel left left-wide">
        <a class="btn btn-success" href="{{ osada.get_absolute_url }}">Powrót</a>
        <span style="margin: 10px; font-size: 18px;">
            {% if utworzony_obiekt %}<span style="color:green">Utworzyłeś: {{ utworzony_obiekt }}</span>{% endif %}        
            {% if brak_zasobow %}<span style="color:red">Nie masz wystarczającej ilości zasobów do wybudowania tego wojownika.</span>{% endif %}
        </span>
        <table class="table table-hover">   
            <thead>
                <tr>
                <th>Typ</th>
                <th>Poziom</th>                    
                <th>Twoja ilość</th>
                <th>Złoto</th>
                <th>Drewno</th>
                <th>Kamien</td>
                <th>Żelazo</th>                
                <th>Nowa postać</th>
                </tr>
            </thead>
            <tbody>
                {% for ar in armia %}
                    <tr>                        
                        <td class="span3"><a href="#">{{ ar.armia.nazwa }}</a></td>
                        <td>{{ ar.poziom }}</td>
                        <td>{{ ar.ilosc }}</a></td>
                        <td>{{ ar.zloto }}</a></td>                                                
                        <td>{{ ar.drewno }}</td>
                        <td>{{ ar.kamien }}</td>
                        <td>{{ ar.zelazo }}</td>                        
                        <td><a href="{{ ar.get_absolute_url }}">Utwórz</a></td>
                    </tr>
                {% endfor %}                
            </tbody>         
        </table>           
    </div>

    <div class="panel right right-short">
    </div>
</div>

{% endblock %}

{% block news %}{% endblock %}
{% block sidebar %}{% endblock %}
