{% extends "base.html" %}

{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<div class="profil">
    <div class="panel top">
        {% load status_bar %}
        {% show_status_bar %}
    </div>

    <div class="panel left left-wide">
        <a class="btn btn-success" href="{{ osada.get_absolute_url }}">Powrót</a>
        <span style="margin: 10px; font-size: 18px;">
            {% if utworzony_obiekt %}<span style="color:green">Zbudowano: {{ utworzony_obiekt }}</span>{% endif %}        
            {% if brak_zasobow %}<span style="color:red">Nie masz wystarczającej ilości zasobów do wybudowania tego budynku.</span>{% endif %}
        </span>
        <table class="table table-hover">            
            <thead>
                <tr>
                <th>Typ budynki</th>
                <th>Poziom</th>                    
                <th>Twoja ilość</th>
                <th>Złoto</th>
                <th>Drewno</th>
                <th>Kamien</td>
                <th>Żelazo</th>
                <th>Produktywnosc</th>
                <th>Max Pojemność</th>
                <th>Nowy budynek</th>
                </tr>
            </thead>
            <tbody>
                {% for bud in budynki %}
                    <tr>                        
                        <td class="span3"><a href="#">{{ bud.budynek.nazwa }}</a></td>
                        <td>{{ bud.poziom }}</td>
                        <td>{{ bud.ilosc }}</a></td>
                        <td>{{ bud.zloto }}</a></td>                                                
                        <td>{{ bud.drewno }}</td>
                        <td>{{ bud.kamien }}</td>
                        <td>{{ bud.zelazo }}</td>
                        <td>{{ bud.produktywnosc }} zasób/min</td>
                        <td>{{ bud.max_pojemnosc }}</td>
                        <td><a href="{{ bud.get_absolute_url }}">Buduj</a></td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>           
    </div>

    <div class="panel right right-short">
    </div>
</div>

{% endblock %}

{% block news %}{% endblock %}
{% block sidebar %}{% endblock %}
