{% extends "base.html" %}

{% block login %}

    {% if user.is_authenticated %}    {# dziedzicz blok login z rodzica #}        
        {% with user.username as username %}
            {{ block.super }}
        {% endwith %}    
    {% else %}                        {# wpp. nadpisz #}
        <div class="register-btn">
            <a href="{% url signup %}">Rejestracja</a>
        </div>

        <form action="{% url login %}" method="post">{% csrf_token %}        
            {% for field in auth_form %}
            {{ field }}
            {% endfor %}            
            <input type="submit" id="btnLogIn" value="Zaloguj">        
        </form>    
    {% endif %}
{% endblock %}
