{% extends "base.html" %}

{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<div class="profil">
    <div class="panel top">                
        {% load status_bar %}
        {% show_status_bar %}
    </div>

    <div class="panel left">
        <a class="btn" href="{% url profil request.user.profile %}">Powrót</a>
        <table class="table table-hover" style="margin-left:20px; width:350px">            
            <thead>
                <tr>
                <th>Nr.</th>
                <th>Typ</th>                    
                </tr>
            </thead>
            <tbody>
                <tr><td class="span1">1.</td><td><a href="{% url obiekty user.profile 'armia' %}">Armia</a></td></tr>
                <tr><td class="span1">2.</td><td><a href="{% url obiekty user.profile 'budynki' %}">Budynki</a></td></tr>
                <tr><td class="span1">3.</td><td><a href="{% url obiekty user.profile 'mieszkancy' %}">Ludność</a></td></tr>
                <tr><td class="span1">4.</td><td><a href="{% url obiekty user.profile 'zasoby' %}">Zasoby</a></td></tr>
            </tbody>
        </table>        
    </div>

    <div class="panel right">
    </div>
</div>

{% endblock %}

{% block news %}{% endblock %}
{% block sidebar %}{% endblock %}
