{% extends "base.html" %}

{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}
{% block news %}{% endblock %}

{% block content %}
<div class="profil">
   <div class="panel top">        
        {% load status_bar %}
        {% show_status_bar %}
    </div> 

    <div class="panel left">                        
        <p class="text-center">Panel Główny</p>
        <div class="menu">
            <ul>                
                {% if osada %}
                    <li><a href="{% url osada request.user %}">Zobacz swoją osadę (<span style="color:#D19275">{{ osada.nazwa }}</span>)</li>               
                {% else %}            
                    <li><a href="{% url nowa_osada request.user %}">Załóż osadę </a></li>
                {% endif %}
                <li><a href="{% url zaproszenia user %}">Zaproszenia</a></li>
                <li><a href="{% url friends user %}">Zaprzyjaznione osady</a></li>
                <li><a href="{% url handel user %}">Handel</a></li>
                <li><a href="{% url statystyki user %}">Statystyki</a></li>
                <li><a href="{% url edycja_profilu user %}">Edytuj profil</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

