{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}
{% block news %}{% endblock %}

{% block content %}
<div class="profil">
   <div class="panel top">
        {% load status_bar %}
        {% show_status_bar %}
    </div> 

    <div class="panel left">                        
        <p class="text-center">Statystyki</p>
        <a class="btn btn-success" href="{% url profil request.user %}">Powrót</a>
    </div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

