{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}
{% block news %}{% endblock %}

{% block content %}
<div class="profil">
   <div class="panel top">
        {% load status_bar %}
        {% show_status_bar %}
    </div> 

    <div class="panel left">  
        <div class="wizytowka">                              
            {#<h1><span class="header">Witamy w osadzie: </span>{{ osada.nazwa }}</h1>  #}
            <p class="text-center"><span style="color:#fff">Witamy w osadzie:</span> {{ osada.nazwa }}</p>
            <ul>
                <li class="bez-borderu"><img src="{{ STATIC_URL }}img/osada1t.jpg"/></li>                
                <li class="bez-borderu alert-bar"> 
                    <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>                  
                    {% if not invited %}
                      <h5>Możecie nawiązać znajomość!</h5>
                    {% else %}
                        {% if osada.user == request.user.profile %}
                            <h5>Witaj w domu!</h5>
                        {% else %}
                            <h5>Ta osada naziązała z Toba znajomość!</h5>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>                
                <li class="bez-borderu buttons">
                    <a class="btn btn-info" href="#">Wyślij szpiega</a>
                    <a class="btn btn-danger" href="#">Atakuj</a>
                    {% if not invited %}
                        <a class="btn btn-success" href="{% url invite request.user osada.user %}">Zaproś</a>
                    {% endif %}
                </li>       
                <li>Nazwa wodza: {{ osada.user }}</li>
                <li>Data powstania: {{ osada.data_powstania }}</li>
                <li>Współczynnik rozwoju: {{ osada.rozwoj }} %</li>                 
            </ul>  
        </div>
        
    </div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

