{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}
{% block news %}{% endblock %}

{% block content %}
<div class="profil">
   <div class="panel top">
        {% load status_bar %}
        {% show_status_bar %}
    </div> 

    <div class="panel left">           
        <p class="text-center">Wysłane zaproszenia</p> 
        <a class="btn btn-success" href="{% url profil request.user %}">Powrót</a>                         
        <table class="table table-hover" style="margin-left:20px; width:350px">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Nazwa osady</th>
                    <th>Nazwa wodza</th>                    
                    <th></th>
            </thead>
            <tbody>
                {% for invite in sent_invites %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="span3"><a href="{% url wizytowka invite.1 %}">{{ invite.1 }}</a></td>
                    <td class="span3">{{ invite.0.user_to }}</td>
                    <td><a href="{% url invite_delete request.user invite.0.user_to %}" class="btn btn-warning btn-small">Usuń</a></td>                    
                </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel right">
        <p class="text-center">Otrzymane zaproszenia</p> 
        <table class="table table-hover" style="margin-left:20px; width:350px">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Nazwa osady</th>
                    <th>Nazwa wodza</th>                    
                    <th>Usun zaproszenie</th>
                    <th></th>
            </thead>
            <tbody>
                {% for invite in receive_invites %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="span3"><a href="{% url wizytowka invite.1 %}">{{ invite.1 }}</a></td>
                    <td class="span3">{{ invite.0.user_to }}</td>   
                    <td><a href="#" class="btn btn-success btn-small">Akceptuj</a></td>
                    <td><a href="#" class="btn btn-danger btn-small">Usuń</a></td>
                </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

