{% extends "base.html" %}

{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}

<div class="profil">
    <div class="panel top">
        {% load status_bar %}
        {% show_status_bar %}
    </div>

    <div class="panel left">
        <a class="btn btn-success" href="{{ osada.get_absolute_url }}">Powrót</a>
        <span style="margin: 10px; font-size: 18px;">
            {% if kupiony_obiekt %}<span style="color:green">Kupiłeś: {{ kupiony_obiekt.nazwa }}</span>{% endif %}        
            {% if brak_srodkow %}<span style="color:red">Brak srodków w budżecie</span>{% endif %}
        </span>
        <table class="table table-hover">            
            <thead>
                <tr>
                <th>Typ Zasobu</th>
                <th>Ilość</th>                    
                <th>Cena</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for zasob in zasoby %}
                    <tr>                        
                        <td class="span3"><a href="#">{{ zasob.obiekt.nazwa }}</a></td>
                        <td class="span2">{{ zasob.ilosc }}</a></td>
                        <td class="span2">{{ zasob.obiekt.cena }} &#36;</a></td>                        
                        {#<td class="span2"><a href="{{ zasob.obiekt.get_absolute_url }}">Kup</a></td>#}
                        <td class="span2"><a href="{{ zasob.obiekt.get_absolute_url }}">Kup</a></td>                        
                        <td></td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>           
    </div>

    <div class="panel right">
    </div>
</div>

{% endblock %}

{% block news %}{% endblock %}
{% block sidebar %}{% endblock %}
