<!DOCTYPE html>
<html>
<head>
    <title>Tazo Gaming</title>    
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style.less" type="text/less" />
    <script src="{{ STATIC_URL }}less.js"></script>
</head>

<body>
    <div id="main-wrapper">           
        <img class="source-image-top" src="{{ STATIC_URL }}img/bg_top.png" alt="" />
        <img class="source-image-bottom" src="{{ STATIC_URL }}img/bg_bottom.png" alt="" />       

        <header>            
            <div class="logo">
                <a href="{% url index %}" title="tazo gaming"><img src="{{ STATIC_URL }}img/logo.png" /></a>
            </div>
                        
            <nav class="primary">                
                <ul>
                    {% block login %}
                    <li>
                        <form action="/logout">
                            <input style="margin-top: 1px; margin-left: 10px;" type="submit" id="btnLogOut" value="Wyloguj">
                        </form>
                    </li>
                    <li>
                        <a href="{% url index %}">Profil</a>
                        <p style="text-align:center; color: orange">({{ username }})</p>
                    </li>
                    <li>
                        <a href="#">Mecze</a>                        
                        <p>Terminarz</p>
                    </li>
                    <li>
                        <a href="#">Społeczność</a>
                        <p>Wymie informacje</p>                        
                    </li>                                    
                    {% endblock %}
                    <li>
                        <a href="#">Blog</a>
                        <p>Co nowego?</p>
                    </li>
                </ul>                
            </nav>                      

        </header>
        
        {% block slider %}
        <div id="slider">
            <div class="slider-header-box1">
                <p><span class="red-text">Nowe pojedynki</span> z innymi graczami</p>                    
            </div>

            <div class="slider-header-box2">
                <p>30 dni za darmo!</p>
            </div>
            
            <p class="slider-post-text">Nowe pojedynki z graczami ze streamu to niepowtarzalna zabawa...</p>

            <a href="#">[ więcej ]</a>
        </div>
        {% endblock %}

        {% block news %}
        <section id="news-content">
            <article class="news-post">                
                <h1 class="news-post-header"><a href="#">This is a Lorem Ipsum Heading</a></h1>                                                                
                <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p>
                <a class="btn-read" href="#" title="czytaj wiêcej"></a>                
            </article>

            <article class="news-post">
                <h1 class="news-post-header"><a href="#">This is a Lorem Ipsum Heading</a></h1>
                <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p>
                <a class="btn-read" href="#" title="czytaj wiêcej"></a>
            </article>

            <article class="news-post">
                <h1 class="news-post-header"><a href="#">This is a Lorem Ipsum Heading</a></h1>
                <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p>
                <a class="btn-read" href="#" title="czytaj wiêcej"></a>
            </article>
        </section>
        {% endblock %}

        {% block content %}
        <div class="main-content">
            <section class="event-content">                  
                <article>                                
                    <img src="{{ STATIC_URL }}img/event_logo.jpg" alt="" />
                    <h1><a href="#">Ostatnia walka między murogatami</a></h1>                    
                    <p class="author">Dodano przez <a href="#"><span class="red-text">Admin</span></a> dnia <span class="date-color">06/07/2013</span></p>                    
                    <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. 
                        Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. 
                        Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.                         
                    </p>                                        
                    <a class="btn-read" href="#" title="czytaj wiêcej"></a>
                </article>
            </section>

            <section class="rank-content">
                <article>
                    <img src="{{ STATIC_URL }}img/cup4.jpeg" alt="" />
                    <h1><a href="#">Amator</a></h1>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                </article>

                <article class="rank-post">
                    <img src="{{ STATIC_URL }}img/cup2.jpeg" alt="" />
                    <h1><a href="#">Profesionalista</a></h1>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                </article>

                <article class="rank-post">
                    <img src="{{ STATIC_URL }}img/cup1.jpeg" alt="" />
                    <h1><a href="#">Zawodowiec</a></h1>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                </article>

                <article class="rank-post">
                    <img src="{{ STATIC_URL }}img/cup3.jpeg" alt="" />
                    <h1><a href="#">Stary wyjadacz</a></h1>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                </article>
            </section>
        </div>    
        {% endblock %}    
        
        {% block sidebar %}
        <aside>
            <div id="side-box">
                <div class="box">
                    <h1>Popularne posty</h1>
                </div>

                <div class="side-post">                                     
                    <h3><a href="#">Tytuł postu</a></h3>
                    <p class="icon"></p>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis... </p>
                    <p class="author">Dodano przez <a href="#"><span class="red-text">Admin</span></a> dnia <span class="date-color">06/07/2013</span></p>                    
                </div>

                <div class="side-post">                    
                    <h3><a href="#">Tytuł postu</a></h3>
                    <p class="icon"></p>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis... </p>
                    <p class="author">Dodano przez <a href="#"><span class="red-text">Admin</span></a> dnia <span class="date-color">06/07/2013</span></p>                    
                </div>

                <div class="side-post">                    
                    <h3><a href="#">Tytuł postu</a></h3>
                    <p class="icon"></p>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis... </p>
                    <p class="author">Dodano przez <a href="#"><span class="red-text">Admin</span></a> dnia <span class="date-color">06/07/2013</span></p>                    
                </div>

                <div class="banner">
                    <p>Miejsce na Twój banner</p>
                </div>

            </div>
        </aside>
        {% endblock %}

        {% block footer %}
        <footer>
            <small>Copyright &copy; 2013 <a href="#" title="tazo gaming">Tazo Gaming </a> by <span class="author">Tazo</span></small>
        </footer>  
        {% endblock %}              
    </div>

</body>
</html>
